# CTE: Common Table Expression

In [2]:
import mysql.connector
import pandas as pd

In [8]:
mydb = mysql.connector.connect(
host = 'localhost',
user = 'root',
passwd = '*',
database = 'sakila')

In [9]:
kursor = mydb.cursor()
def sql(query) :
    kursor.execute(query)
    hasil = kursor.fetchall()
    data = pd.DataFrame(data = hasil, columns = kursor.column_names)
    return data

In [10]:
sql('''
select * from actor;
''')

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

In [11]:
sql('select * from (select first_name, last_name from actor) as nama;') # table expression

    first_name     last_name
0     PENELOPE       GUINESS
1         NICK      WAHLBERG
2           ED         CHASE
3     JENNIFER         DAVIS
4       JOHNNY  LOLLOBRIGIDA
..         ...           ...
195       BELA        WALKEN
196      REESE          WEST
197       MARY        KEITEL
198      JULIA       FAWCETT
199      THORA        TEMPLE

[200 rows x 2 columns]

CTE adalah subquery terpisah yang disimpan sebagai tabel sementara dan bisa digunakan berulangkali. 

Untuk membuat CTE, gunakan keyword WITH <nama tabel> as ( ...)

Contoh: menampilkan film_id dan retal durasinya, di mana durasi film yang ditampilkan adalah yang di atas rata-rata durasi film semua film

In [13]:
# subquery

sql('''
select film_id, rental_duration from film
where length > (select avg (length) from film)
order by rental_duration desc;
''')

     film_id  rental_duration
0         27                7
1         36                7
2         70                7
3         80                7
4         88                7
..       ...              ...
484      946                3
485      973                3
486      984                3
487      987                3
488      990                3

[489 rows x 2 columns]

In [14]:
# CTE

sql('''
WITH rata_lama AS (
SELECT AVG(length) as avg_lama from film
)

select film_id, rental_duration from film
where length> (select avg_lama from rata_lama)
order by 2 desc;
''') # order by 2, 2 merujuk pada posisi kolom yang dipanggil (rental_duration)

     film_id  rental_duration
0         27                7
1         36                7
2         70                7
3         80                7
4         88                7
..       ...              ...
484      946                3
485      973                3
486      984                3
487      987                3
488      990                3

[489 rows x 2 columns]

In [18]:
# CTE bisa dipakai berulang dalam 1 query

sql('''
with rata_panjang as(
select rating, avg(length) as avg_length
from film
group by 1
)
select title, length from film 
where length between (
select avg_length from rata_panjang where rating='g') 
and (select avg_length from rata_panjang where rating='pg-13');
''')
# film yang lamanya di antara rata-rata lama film dgn rating 'g' dan rata-rata lama film dengan rating 'pg-13'

                   title  length
0       AFFAIR PREJUDICE     117
1          ALABAMA DEVIL     114
2           AMADEUS HOLY     113
3   APOCALYPSE FLAMINGOS     119
4           ATTACKS HATE     113
..                   ...     ...
65        TROOPERS METAL     115
66  UNTOUCHABLES SUNRISE     120
67            WAIT CIDER     112
68    WATERSHIP FRONTIER     112
69          WORDS HUNTER     116

[70 rows x 2 columns]

In [19]:
sql('''
select rating, avg(length) as avg_length
from film
group by 1
''') # isi dari CTE rata_panjang

  rating avg_length
0     PG   112.0052
1      G   111.0506
2  NC-17   113.2286
3  PG-13   120.4439
4      R   118.6615

In [16]:
sql('select * from film limit 5;')

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"{Behind the Scenes, Deleted Scenes}",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"{Trailers, Deleted Scenes}",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"{Commentaries, Behind the Scenes}",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,{Deleted Scenes},2006-02-15 05:03:42

In [20]:
# membuat lebih dari 1 CTE dalam 1 query

sql('''
WITH rata_durasi AS(
select avg(rental_duration) as avg_durasi from film
),
rata_lama AS(
select avg(length) as avg_length from film
)

select title, length, rental_duration from film
where rental_duration > (select avg_durasi from rata_durasi)
and length<(select avg_length from rata_lama);
''')

# film-film dengan rental duration di atas rata-rata dan length di bawah rata-rata

                 title  length  rental_duration
0     ACADEMY DINOSAUR      86                6
1     ADAPTATION HOLES      50                7
2      AIRPLANE SIERRA      62                6
3      AIRPORT POLLOCK      54                6
4     ALADDIN CALENDAR      63                6
..                 ...     ...              ...
288          WONKA SEA      85                6
289      WYOMING STORM     100                6
290        YENTL IDAHO      86                5
291       ZHIVAGO CORE     105                6
292  ZOOLANDER FICTION     101                5

[293 rows x 3 columns]

In [21]:
mydb = mysql.connector.connect(
host = 'localhost',
user = 'root',
passwd = '*',
database = 'world')

In [22]:
kursor = mydb.cursor()

# Windows Function

In [24]:
sql( 'select * from country;')

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÂštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [27]:
sql('select name, population, avg(population) from country')

# rata-rata populasi dunia, tanpa over()

    name  population avg(population)
0  Aruba      103000   25434098.1172

In [26]:
# dengan over
# rata- rata populasi jadi kolom baru
sql('''
select name, population , avg(population) over() as rata_populasi
from country;
''')

             name  population  rata_populasi
0           Aruba      103000  25434098.1172
1     Afghanistan    22720000  25434098.1172
2          Angola    12878000  25434098.1172
3        Anguilla        8000  25434098.1172
4         Albania     3401200  25434098.1172
..            ...         ...            ...
234         Yemen    18112000  25434098.1172
235    Yugoslavia    10640000  25434098.1172
236  South Africa    40377000  25434098.1172
237        Zambia     9169000  25434098.1172
238      Zimbabwe    11669000  25434098.1172

[239 rows x 3 columns]

In [29]:
# contoh, menghitung selisih antara populasi suatu negara dengan rata-rata populasi dunia

sql('''
select name, population,
avg(population) over() as rata_populasi,
population-avg(population) over() as selisih_pop
from country
order by 4;
''')

,name,population,rata_populasi,selisih_pop
0,Antarctica,0,25434098.1172,-25434098.1172
1,French Southern territories,0,25434098.1172,-25434098.1172
2,Bouvet Island,0,25434098.1172,-25434098.1172
3,Heard Island and McDonald Islands,0,25434098.1172,-25434098.1172
4,British Indian Ocean Territory,0,25434098.1172,-25434098.1172
...,...,...,...,...
234,Brazil,170115000,25434098.1172,144680901.8828
235,Indonesia,212107000,25434098.1172,186672901.8828
236,United States,278357000,25434098.1172,252922901.8828
237,India,1013662000,25434098.1172,988227901.8828
238,China,1277558000,25434098.1172,1252123901.8828

In [35]:
# group by

sql('''
select continent, avg(population) from country
group by 1;
''')

       continent avg(population)
0  North America   13053864.8649
1           Asia   72647562.7451
2         Africa   13525431.0345
3         Europe   15871186.9565
4  South America   24698571.4286
5        Oceania    1085755.3571
6     Antarctica          0.0000

In [36]:
# over partition
# perhatikan isi kolom rata_pop
sql('''
select name, continent, 
avg(population) over (partition by continent) as rata_pop
from country;
''')

# membuat kolom baru yang berisi rata-rata populasi berdasarkan benua.

                     name      continent       rata_pop
0             Afghanistan           Asia  72647562.7451
1    United Arab Emirates           Asia  72647562.7451
2                 Armenia           Asia  72647562.7451
3              Azerbaijan           Asia  72647562.7451
4              Bangladesh           Asia  72647562.7451
..                    ...            ...            ...
234                  Peru  South America  24698571.4286
235              Paraguay  South America  24698571.4286
236              Suriname  South America  24698571.4286
237               Uruguay  South America  24698571.4286
238             Venezuela  South America  24698571.4286

[239 rows x 3 columns]

In [37]:
sql('''
select name, continent, population,
avg(population) over(partition by continent) as rata_pop,
population-avg(population) over(partition by continent) as selisih_pop
from country;
''')
# membuat kolom baru berisi selisih antara populasi negara dengan rata-rata populasi benua tempat negara itu berada

,name,continent,population,rata_pop,selisih_pop
0,Afghanistan,Asia,22720000,72647562.7451,-49927562.7451
1,United Arab Emirates,Asia,2441000,72647562.7451,-70206562.7451
2,Armenia,Asia,3520000,72647562.7451,-69127562.7451
3,Azerbaijan,Asia,7734000,72647562.7451,-64913562.7451
4,Bangladesh,Asia,129155000,72647562.7451,56507437.2549
...,...,...,...,...,...
234,Peru,South America,25662000,24698571.4286,963428.5714
235,Paraguay,South America,5496000,24698571.4286,-19202571.4286
236,Suriname,South America,417000,24698571.4286,-24281571.4286
237,Uruguay,South America,3337000,24698571.4286,-21361571.4286
238,Venezuela,South America,24170000,24698571.4286,-528571.4286

## ROW_NUMBER()

In [39]:
# membuat kolom baru berisikan nomor urut baris

sql('''
select name, continent, row_number() over() as nomor
from country;
''')

             name      continent  nomor
0           Aruba  North America      1
1     Afghanistan           Asia      2
2          Angola         Africa      3
3        Anguilla  North America      4
4         Albania         Europe      5
..            ...            ...    ...
234         Yemen           Asia    235
235    Yugoslavia         Europe    236
236  South Africa         Africa    237
237        Zambia         Africa    238
238      Zimbabwe         Africa    239

[239 rows x 3 columns]

In [41]:
pd.set_option('display.max_rows', None) # biar barisnya kelihatan semua

sql('''
select name, continent, 
row_number() over(partition by continent)
from country;
''')

,name,continent,row_number() over(partition by continent)
0,Afghanistan,Asia,1
1,United Arab Emirates,Asia,2
2,Armenia,Asia,3
3,Azerbaijan,Asia,4
4,Bangladesh,Asia,5
5,Bahrain,Asia,6
6,Brunei,Asia,7
7,Bhutan,Asia,8
8,China,Asia,9
9,Cyprus,Asia,10
10,Georgia,Asia,11
11,Hong Kong,Asia,12
12,Indonesia,Asia,13
13,India,Asia,14
14,Iran,Asia,15
15,Iraq,Asia,16
16,Israel,Asia,17
17,Jordan,Asia,18
18,Japan,Asia,19
19,Kazakstan,Asia,20
20,Kyrgyzstan,Asia,21
21,Cambodia,Asia,22
22,South Korea,Asia,23
23,Kuwait,Asia,24
24,Laos,Asia,25
25,Lebanon,Asia,26
26,Sri Lanka,Asia,27
27,Macao,Asia,28
28,Maldives,Asia,29
29,Myanmar,Asia,30
30,Mongolia,Asia,31
31,Malaysia,Asia,32
32,Nepal,Asia,33
33,Oman,Asia,34
34,Pakistan,Asia,35
35,Philippines,Asia,36
36,North Korea,Asia,37
37,Palestine,Asia,38
38,Qatar,Asia,39
39,Saudi Arabia,Asia,40
40,Singapore,Asia,41
41,Syria,Asia,42
42,Thailand,Asia,43
43,Tajikistan,Asia,44
44,Turkmenistan,Asia,45
45,East Timor,Asia,46
46,Turkey,Asia,47
47,Taiwan,Asia,48
48,Uzbekistan,Asia,49
49,Vietnam,Asia,50
50,Yemen,Asia,51
51,Albania,Europe,1
52,Andorra,Europe,2
53,Austria,Europe,3
54,Belgium,Europe,4
55,Bulgaria,Europe,5
56,Bosnia and Herzegovina,Europe,6
57,Belarus,Europe,7
58,Switzerland,Europe,8
59,Czech Republic,Europe,9
60,Germany,Europe,10
61,Denmark,Europe,11
62,Spain,Europe,12
63,Estonia,Europe,13
64,Finland,Europe,14
65,France,Europe,15
66,Faroe Islands,Europe,16
67,United Kingdom,Europe,17
68,Gibraltar,Europe,18
69,Greece,Europe,19
70,Croatia,Europe,20
71,Hungary,Europe,21
72,Ireland,Europe,22
73,Iceland,Europe,23
74,Italy,Europe,24
75,Liechtenstein,Europe,25
76,Lithuania,Europe,26
77,Luxembourg,Europe,27
78,Latvia,Europe,28
79,Monaco,Europe,29
80,Moldova,Europe,30
81,Macedonia,Europe,31
82,Malta,Europe,32
83,Netherlands,Europe,33
84,Norway,Europe,34
85,Poland,Europe,35
86,Portugal,Europe,36
87,Romania,Europe,37
88,Russian Federation,Europe,38
89,Svalbard and Jan Mayen,Europe,39
90,San Marino,Europe,40
91,Slovakia,Europe,41
92,Slovenia,Europe,42
93,Sweden,Europe,43
94,Ukraine,Europe,44
95,Holy See (Vatican City State),Europe,45
96,Yugoslavia,Europe,46
97,Aruba,North America,1
98,Anguilla,North America,2
99,Netherlands Antilles,North America,3
100,Antigua and Barbuda,North America,4
101,Bahamas,North America,5
102,Belize,North America,6
103,Bermuda,North America,7
104,Barbados,North America,8
105,Canada,North America,9
106,Costa Rica,North America,10
107,Cuba,North America,11
108,Cayman Islands,North America,12
109,Dominica,North America,13
110,Dominican Republic,North America,14
111,Guadeloupe,North America,15
112,Grenada,North America,16
113,Greenland,North America,17
114,Guatemala,North America,18
115,Honduras,North America,19
116,Haiti,North America,20
117,Jamaica,North America,21
118,Saint Kitts and Nevis,North America,22
119,Saint Lucia,North America,23
120,Mexico,North America,24
121,Montserrat,North America,25
122,Martinique,North America,26
123,Nicaragua,North America,27
124,Panama,North America,28
125,Puerto Rico,North America,29
126,El Salvador,North America,30
127,Saint Pierre and Miquelon,North America,31
128,Turks and Caicos Islands,North America,32
129,Trinidad and Tobago,North America,33
130,United States,North America,34
131,Saint Vincent and the Grenadines,North America,35
132,"Virgin Islands, British",North America,36
133,"Virgin Islands, U.S.",North America,37
134,Angola,Africa,1
135,Burundi,Africa,2
136,Benin,Africa,3
137,Burkina Faso,Africa,4
138,Botswana,Africa,5
139,Central African Republic,Africa,6
140,CÃ´te dÂ’Ivoire,Africa,7
141,Cameroon,Africa,8
142,"Congo, The Democratic Republic of the",Africa,9
143,Congo,Africa,10
144,Comoros,Africa,11
145,Cape Verde,Africa,12
146,Djibouti,Africa,13
147,Algeria,Africa,14
148,Egypt,Africa,15
149,Eritrea,Africa,16
150,Western Sahara,Africa,17
151,Ethiopia,Africa,18
152,Gabon,Africa,19
153,Ghana,Africa,20
154,Guinea,Africa,21
155,Gambia,Africa,22
156,Guinea-Bissau,Africa,23
157,Equatorial Guinea,Africa,24
158,British Indian Ocean Territory,Africa,25
159,Kenya,Africa,26
160,Liberia,Africa,27
161,Libyan Arab Jamahiriya,Africa,28
162,Lesotho,Africa,29
163,Morocco,Africa,30
164,Madagascar,Africa,31
165,Mali,Africa,32
166,Mozambique,Africa,33
167,Mauritania,Africa,34
168,Mauritius,Africa,35
169,Malawi,Africa,36
170,Mayotte,Africa,37
171,Namibia,Africa,38
172,Niger,Africa,39
173,Nigeria,Africa,40
174,RÃ©union,Africa,41
175,Rwanda,Africa,42
176,Sudan,Africa,43
177,Senegal,Africa,44
178,Saint Helena,Africa,45
179,Sierra Leone,Africa,46
180,Somalia,Africa,47
181,Sao Tome and Principe,Africa,48
182,Swaziland,Africa,49
183,Seychelles,Africa,50
184,Chad,Africa,51
185,Togo,Africa,52
186,Tunisia,Africa,53
187,Tanzania,Africa,54
188,Uganda,Africa,55
189,South Africa,Africa,56
190,Zambia,Africa,57
191,Zimbabwe,Africa,58
192,American Samoa,Oceania,1
193,Australia,Oceania,2
194,Cocos (Keeling) Islands,Oceania,3
195,Cook Islands,Oceania,4
196,Christmas Island,Oceania,5
197,Fiji Islands,Oceania,6
198,"Micronesia, Federated States of",Oceania,7
199,Guam,Oceania,8
200,Kiribati,Oceania,9
201,Marshall Islands,Oceania,10
202,Northern Mariana Islands,Oceania,11
203,New Caledonia,Oceania,12
204,Norfolk Island,Oceania,13
205,Niue,Oceania,14
206,Nauru,Oceania,15
207,New Zealand,Oceania,16
208,Pitcairn,Oceania,17
209,Palau,Oceania,18
210,Papua New Guinea,Oceania,19
211,French Polynesia,Oceania,20
212,Solomon Islands,Oceania,21
213,Tokelau,Oceania,22
214,Tonga,Oceania,23
215,Tuvalu,Oceania,24
216,United States Minor Outlying Islands,Oceania,25
217,Vanuatu,Oceania,26
218,Wallis and Futuna,Oceania,27
219,Samoa,Oceania,28
220,Antarctica,Antarctica,1
221,French Southern territories,Antarctica,2
222,Bouvet Island,Antarctica,3
223,Heard Island and McDonald Islands,Antarctica,4
224,South Georgia and the South Sandwich Islands,Antarctica,5
225,Argentina,South America,1
226,Bolivia,South America,2
227,Brazil,South America,3
228,Chile,South America,4
229,Colombia,South America,5
230,Ecuador,South America,6
231,Falkland Islands,South America,7
232,French Guiana,South America,8
233,Guyana,South America,9
234,Peru,South America,10
235,Paraguay,South America,11
236,Suriname,South America,12
237,Uruguay,South America,13
238,Venezuela,South America,14

In [42]:
# elaborasi dengan CTE, untuk mengambil hanya 3 negara pertama per benua

sql('''
WITH nomor_baris as(
    select name, continent,
    ROW_NUMBER() OVER(PARTITION BY continent) as nomor
    from country
)

select * from nomor_baris
where nomor<=3
''')

                           name      continent  nomor
0                   Afghanistan           Asia      1
1          United Arab Emirates           Asia      2
2                       Armenia           Asia      3
3                       Albania         Europe      1
4                       Andorra         Europe      2
5                       Austria         Europe      3
6                         Aruba  North America      1
7                      Anguilla  North America      2
8          Netherlands Antilles  North America      3
9                        Angola         Africa      1
10                      Burundi         Africa      2
11                        Benin         Africa      3
12               American Samoa        Oceania      1
13                    Australia        Oceania      2
14      Cocos (Keeling) Islands        Oceania      3
15                   Antarctica     Antarctica      1
16  French Southern territories     Antarctica      2
17                Bouvet Island     Antarctica      3
18                    Argentina  South America      1
19                      Bolivia  South America      2
20                       Brazil  South America      3

## RANK() and DENSE_RANK()
membuat ranking, berdasarkan nilai tertentu

In [46]:
# membuat baris baru berisi ranking negara berdasarkan populasinya

sql('''
select name, continent, population, 
RANK() OVER(ORDER BY population) as rank_pop
from country;
''')

,name,continent,population,rank_pop
0,Antarctica,Antarctica,0,1
1,French Southern territories,Antarctica,0,1
2,Bouvet Island,Antarctica,0,1
3,Heard Island and McDonald Islands,Antarctica,0,1
4,British Indian Ocean Territory,Africa,0,1
5,South Georgia and the South Sandwich Islands,Antarctica,0,1
6,United States Minor Outlying Islands,Oceania,0,1
7,Pitcairn,Oceania,50,8
8,Cocos (Keeling) Islands,Oceania,600,9
9,Holy See (Vatican City State),Europe,1000,10
10,Falkland Islands,South America,2000,11
11,Norfolk Island,Oceania,2000,11
12,Niue,Oceania,2000,11
13,Tokelau,Oceania,2000,11
14,Christmas Island,Oceania,2500,15
15,Svalbard and Jan Mayen,Europe,3200,16
16,Saint Helena,Africa,6000,17
17,Saint Pierre and Miquelon,North America,7000,18
18,Anguilla,North America,8000,19
19,Montserrat,North America,11000,20
20,Nauru,Oceania,12000,21
21,Tuvalu,Oceania,12000,21
22,Wallis and Futuna,Oceania,15000,23
23,Turks and Caicos Islands,North America,17000,24
24,Palau,Oceania,19000,25
25,Cook Islands,Oceania,20000,26
26,"Virgin Islands, British",North America,21000,27
27,Gibraltar,Europe,25000,28
28,San Marino,Europe,27000,29
29,Liechtenstein,Europe,32300,30
30,Monaco,Europe,34000,31
31,Cayman Islands,North America,38000,32
32,Saint Kitts and Nevis,North America,38000,32
33,Faroe Islands,Europe,43000,34
34,Greenland,North America,56000,35
35,Marshall Islands,Oceania,64000,36
36,Bermuda,North America,65000,37
37,American Samoa,Oceania,68000,38
38,Antigua and Barbuda,North America,68000,38
39,Dominica,North America,71000,40
40,Seychelles,Africa,77000,41
41,Andorra,Europe,78000,42
42,Northern Mariana Islands,Oceania,78000,42
43,Kiribati,Oceania,83000,44
44,"Virgin Islands, U.S.",North America,93000,45
45,Grenada,North America,94000,46
46,Tonga,Oceania,99000,47
47,Aruba,North America,103000,48
48,Saint Vincent and the Grenadines,North America,114000,49
49,"Micronesia, Federated States of",Oceania,119000,50
50,Sao Tome and Principe,Africa,147000,51
51,Mayotte,Africa,149000,52
52,Saint Lucia,North America,154000,53
53,Guam,Oceania,168000,54
54,Samoa,Oceania,180000,55
55,French Guiana,South America,181000,56
56,Vanuatu,Oceania,190000,57
57,New Caledonia,Oceania,214000,58
58,Netherlands Antilles,North America,217000,59
59,French Polynesia,Oceania,235000,60
60,Belize,North America,241000,61
61,Barbados,North America,270000,62
62,Iceland,Europe,279000,63
63,Maldives,Asia,286000,64
64,Western Sahara,Africa,293000,65
65,Bahamas,North America,307000,66
66,Brunei,Asia,328000,67
67,Malta,Europe,380200,68
68,Martinique,North America,395000,69
69,Suriname,South America,417000,70
70,Cape Verde,Africa,428000,71
71,Luxembourg,Europe,435700,72
72,Solomon Islands,Oceania,444000,73
73,Equatorial Guinea,Africa,453000,74
74,Guadeloupe,North America,456000,75
75,Macao,Asia,473000,76
76,Comoros,Africa,578000,77
77,Qatar,Asia,599000,78
78,Bahrain,Asia,617000,79
79,Djibouti,Africa,638000,80
80,RÃ©union,Africa,699000,81
81,Cyprus,Asia,754700,82
82,Fiji Islands,Oceania,817000,83
83,Guyana,South America,861000,84
84,East Timor,Asia,885000,85
85,Swaziland,Africa,1008000,86
86,Mauritius,Africa,1158000,87
87,Guinea-Bissau,Africa,1213000,88
88,Gabon,Africa,1226000,89
89,Trinidad and Tobago,North America,1295000,90
90,Gambia,Africa,1305000,91
91,Estonia,Europe,1439200,92
92,Botswana,Africa,1622000,93
93,Namibia,Africa,1726000,94
94,Kuwait,Asia,1972000,95
95,Slovenia,Europe,1987800,96
96,Macedonia,Europe,2024000,97
97,Bhutan,Asia,2124000,98
98,Lesotho,Africa,2153000,99
99,Latvia,Europe,2424200,100
100,United Arab Emirates,Asia,2441000,101
101,Oman,Asia,2542000,102
102,Jamaica,North America,2583000,103
103,Mongolia,Asia,2662000,104
104,Mauritania,Africa,2670000,105
105,Panama,North America,2856000,106
106,Congo,Africa,2943000,107
107,Palestine,Asia,3101000,108
108,Liberia,Africa,3154000,109
109,Lebanon,Asia,3282000,110
110,Uruguay,South America,3337000,111
111,Albania,Europe,3401200,112
112,Armenia,Asia,3520000,113
113,Singapore,Asia,3567000,114
114,Central African Republic,Africa,3615000,115
115,Lithuania,Europe,3698500,116
116,Ireland,Europe,3775100,117
117,Eritrea,Africa,3850000,118
118,New Zealand,Oceania,3862000,119
119,Puerto Rico,North America,3869000,120
120,Bosnia and Herzegovina,Europe,3972000,121
121,Costa Rica,North America,4023000,122
122,Moldova,Europe,4380000,123
123,Turkmenistan,Asia,4459000,124
124,Croatia,Europe,4473000,125
125,Norway,Europe,4478500,126
126,Togo,Africa,4629000,127
127,Kyrgyzstan,Asia,4699000,128
128,Papua New Guinea,Oceania,4807000,129
129,Sierra Leone,Africa,4854000,130
130,Georgia,Asia,4968000,131
131,Nicaragua,North America,5074000,132
132,Jordan,Asia,5083000,133
133,Finland,Europe,5171300,134
134,Denmark,Europe,5330000,135
135,Slovakia,Europe,5398700,136
136,Laos,Asia,5433000,137
137,Paraguay,South America,5496000,138
138,Libyan Arab Jamahiriya,Africa,5605000,139
139,Benin,Africa,6097000,140
140,Tajikistan,Asia,6188000,141
141,Israel,Asia,6217000,142
142,El Salvador,North America,6276000,143
143,Honduras,North America,6485000,144
144,Burundi,Africa,6695000,145
145,Hong Kong,Asia,6782000,146
146,Switzerland,Europe,7160400,147
147,Guinea,Africa,7430000,148
148,Chad,Africa,7651000,149
149,Rwanda,Africa,7733000,150
150,Azerbaijan,Asia,7734000,151
151,Austria,Europe,8091800,152
152,Bulgaria,Europe,8190900,153
153,Haiti,North America,8222000,154
154,Bolivia,South America,8329000,155
155,Dominican Republic,North America,8495000,156
156,Sweden,Europe,8861400,157
157,Zambia,Africa,9169000,158
158,Senegal,Africa,9481000,159
159,Tunisia,Africa,9586000,160
160,Portugal,Europe,9997600,161
161,Hungary,Europe,10043200,162
162,Somalia,Africa,10097000,163
163,Belarus,Europe,10236000,164
164,Belgium,Europe,10239000,165
165,Czech Republic,Europe,10278100,166
166,Greece,Europe,10545700,167
167,Yugoslavia,Europe,10640000,168
168,Niger,Africa,10730000,169
169,Malawi,Africa,10925000,170
170,Cambodia,Asia,11168000,171
171,Cuba,North America,11201000,172
172,Mali,Africa,11234000,173
173,Guatemala,North America,11385000,174
174,Zimbabwe,Africa,11669000,175
175,Burkina Faso,Africa,11937000,176
176,Ecuador,South America,12646000,177
177,Angola,Africa,12878000,178
178,CÃ´te dÂ’Ivoire,Africa,14786000,179
179,Cameroon,Africa,15085000,180
180,Chile,South America,15211000,181
181,Netherlands,Europe,15864000,182
182,Madagascar,Africa,15942000,183
183,Syria,Asia,16125000,184
184,Kazakstan,Asia,16223000,185
185,Yemen,Asia,18112000,186
186,Sri Lanka,Asia,18827000,187
187,Australia,Oceania,18886000,188
188,Mozambique,Africa,19680000,189
189,Ghana,Africa,20212000,190
190,Saudi Arabia,Asia,21607000,191
191,Uganda,Africa,21778000,192
192,Malaysia,Asia,22244000,193
193,Taiwan,Asia,22256000,194
194,Romania,Europe,22455500,195
195,Afghanistan,Asia,22720000,196
196,Iraq,Asia,23115000,197
197,Nepal,Asia,23930000,198
198,North Korea,Asia,24039000,199
199,Venezuela,South America,24170000,200
200,Uzbekistan,Asia,24318000,201
201,Peru,South America,25662000,202
202,Morocco,Africa,28351000,203
203,Sudan,Africa,29490000,204
204,Kenya,Africa,30080000,205
205,Canada,North America,31147000,206
206,Algeria,Africa,31471000,207
207,Tanzania,Africa,33517000,208
208,Argentina,South America,37032000,209
209,Poland,Europe,38653600,210
210,Spain,Europe,39441700,211
211,South Africa,Africa,40377000,212
212,Colombia,South America,42321000,213
213,Myanmar,Asia,45611000,214
214,South Korea,Asia,46844000,215
215,Ukraine,Europe,50456000,216
216,"Congo, The Democratic Republic of the",Africa,51654000,217
217,Italy,Europe,57680000,218
218,France,Europe,59225700,219
219,United Kingdom,Europe,59623400,220
220,Thailand,Asia,61399000,221
221,Ethiopia,Africa,62565000,222
222,Turkey,Asia,66591000,223
223,Iran,Asia,67702000,224
224,Egypt,Africa,68470000,225
225,Philippines,Asia,75967000,226
226,Vietnam,Asia,79832000,227
227,Germany,Europe,82164700,228
228,Mexico,North America,98881000,229
229,Nigeria,Africa,111506000,230
230,Japan,Asia,126714000,231
231,Bangladesh,Asia,129155000,232
232,Russian Federation,Europe,146934000,233
233,Pakistan,Asia,156483000,234
234,Brazil,South America,170115000,235
235,Indonesia,Asia,212107000,236
236,United States,North America,278357000,237
237,India,Asia,1013662000,238
238,China,Asia,1277558000,239

In [45]:
sql('''
select name, continent, population, 
DENSE_RANK() OVER(ORDER BY population) as rank_pop
from country;
''')
#beda rank dan dense rank adalah dari cara pemberian ranking, pada rank, kalau ada ranking yang sama, 
# ranking berikutnya akan diskip sesuai jumlah ranking yang sama, pada dense rank, angka ranking dilanjutkan

,name,continent,population,rank_pop
0,Antarctica,Antarctica,0,1
1,French Southern territories,Antarctica,0,1
2,Bouvet Island,Antarctica,0,1
3,Heard Island and McDonald Islands,Antarctica,0,1
4,British Indian Ocean Territory,Africa,0,1
5,South Georgia and the South Sandwich Islands,Antarctica,0,1
6,United States Minor Outlying Islands,Oceania,0,1
7,Pitcairn,Oceania,50,2
8,Cocos (Keeling) Islands,Oceania,600,3
9,Holy See (Vatican City State),Europe,1000,4
10,Falkland Islands,South America,2000,5
11,Norfolk Island,Oceania,2000,5
12,Niue,Oceania,2000,5
13,Tokelau,Oceania,2000,5
14,Christmas Island,Oceania,2500,6
15,Svalbard and Jan Mayen,Europe,3200,7
16,Saint Helena,Africa,6000,8
17,Saint Pierre and Miquelon,North America,7000,9
18,Anguilla,North America,8000,10
19,Montserrat,North America,11000,11
20,Nauru,Oceania,12000,12
21,Tuvalu,Oceania,12000,12
22,Wallis and Futuna,Oceania,15000,13
23,Turks and Caicos Islands,North America,17000,14
24,Palau,Oceania,19000,15
25,Cook Islands,Oceania,20000,16
26,"Virgin Islands, British",North America,21000,17
27,Gibraltar,Europe,25000,18
28,San Marino,Europe,27000,19
29,Liechtenstein,Europe,32300,20
30,Monaco,Europe,34000,21
31,Cayman Islands,North America,38000,22
32,Saint Kitts and Nevis,North America,38000,22
33,Faroe Islands,Europe,43000,23
34,Greenland,North America,56000,24
35,Marshall Islands,Oceania,64000,25
36,Bermuda,North America,65000,26
37,American Samoa,Oceania,68000,27
38,Antigua and Barbuda,North America,68000,27
39,Dominica,North America,71000,28
40,Seychelles,Africa,77000,29
41,Andorra,Europe,78000,30
42,Northern Mariana Islands,Oceania,78000,30
43,Kiribati,Oceania,83000,31
44,"Virgin Islands, U.S.",North America,93000,32
45,Grenada,North America,94000,33
46,Tonga,Oceania,99000,34
47,Aruba,North America,103000,35
48,Saint Vincent and the Grenadines,North America,114000,36
49,"Micronesia, Federated States of",Oceania,119000,37
50,Sao Tome and Principe,Africa,147000,38
51,Mayotte,Africa,149000,39
52,Saint Lucia,North America,154000,40
53,Guam,Oceania,168000,41
54,Samoa,Oceania,180000,42
55,French Guiana,South America,181000,43
56,Vanuatu,Oceania,190000,44
57,New Caledonia,Oceania,214000,45
58,Netherlands Antilles,North America,217000,46
59,French Polynesia,Oceania,235000,47
60,Belize,North America,241000,48
61,Barbados,North America,270000,49
62,Iceland,Europe,279000,50
63,Maldives,Asia,286000,51
64,Western Sahara,Africa,293000,52
65,Bahamas,North America,307000,53
66,Brunei,Asia,328000,54
67,Malta,Europe,380200,55
68,Martinique,North America,395000,56
69,Suriname,South America,417000,57
70,Cape Verde,Africa,428000,58
71,Luxembourg,Europe,435700,59
72,Solomon Islands,Oceania,444000,60
73,Equatorial Guinea,Africa,453000,61
74,Guadeloupe,North America,456000,62
75,Macao,Asia,473000,63
76,Comoros,Africa,578000,64
77,Qatar,Asia,599000,65
78,Bahrain,Asia,617000,66
79,Djibouti,Africa,638000,67
80,RÃ©union,Africa,699000,68
81,Cyprus,Asia,754700,69
82,Fiji Islands,Oceania,817000,70
83,Guyana,South America,861000,71
84,East Timor,Asia,885000,72
85,Swaziland,Africa,1008000,73
86,Mauritius,Africa,1158000,74
87,Guinea-Bissau,Africa,1213000,75
88,Gabon,Africa,1226000,76
89,Trinidad and Tobago,North America,1295000,77
90,Gambia,Africa,1305000,78
91,Estonia,Europe,1439200,79
92,Botswana,Africa,1622000,80
93,Namibia,Africa,1726000,81
94,Kuwait,Asia,1972000,82
95,Slovenia,Europe,1987800,83
96,Macedonia,Europe,2024000,84
97,Bhutan,Asia,2124000,85
98,Lesotho,Africa,2153000,86
99,Latvia,Europe,2424200,87
100,United Arab Emirates,Asia,2441000,88
101,Oman,Asia,2542000,89
102,Jamaica,North America,2583000,90
103,Mongolia,Asia,2662000,91
104,Mauritania,Africa,2670000,92
105,Panama,North America,2856000,93
106,Congo,Africa,2943000,94
107,Palestine,Asia,3101000,95
108,Liberia,Africa,3154000,96
109,Lebanon,Asia,3282000,97
110,Uruguay,South America,3337000,98
111,Albania,Europe,3401200,99
112,Armenia,Asia,3520000,100
113,Singapore,Asia,3567000,101
114,Central African Republic,Africa,3615000,102
115,Lithuania,Europe,3698500,103
116,Ireland,Europe,3775100,104
117,Eritrea,Africa,3850000,105
118,New Zealand,Oceania,3862000,106
119,Puerto Rico,North America,3869000,107
120,Bosnia and Herzegovina,Europe,3972000,108
121,Costa Rica,North America,4023000,109
122,Moldova,Europe,4380000,110
123,Turkmenistan,Asia,4459000,111
124,Croatia,Europe,4473000,112
125,Norway,Europe,4478500,113
126,Togo,Africa,4629000,114
127,Kyrgyzstan,Asia,4699000,115
128,Papua New Guinea,Oceania,4807000,116
129,Sierra Leone,Africa,4854000,117
130,Georgia,Asia,4968000,118
131,Nicaragua,North America,5074000,119
132,Jordan,Asia,5083000,120
133,Finland,Europe,5171300,121
134,Denmark,Europe,5330000,122
135,Slovakia,Europe,5398700,123
136,Laos,Asia,5433000,124
137,Paraguay,South America,5496000,125
138,Libyan Arab Jamahiriya,Africa,5605000,126
139,Benin,Africa,6097000,127
140,Tajikistan,Asia,6188000,128
141,Israel,Asia,6217000,129
142,El Salvador,North America,6276000,130
143,Honduras,North America,6485000,131
144,Burundi,Africa,6695000,132
145,Hong Kong,Asia,6782000,133
146,Switzerland,Europe,7160400,134
147,Guinea,Africa,7430000,135
148,Chad,Africa,7651000,136
149,Rwanda,Africa,7733000,137
150,Azerbaijan,Asia,7734000,138
151,Austria,Europe,8091800,139
152,Bulgaria,Europe,8190900,140
153,Haiti,North America,8222000,141
154,Bolivia,South America,8329000,142
155,Dominican Republic,North America,8495000,143
156,Sweden,Europe,8861400,144
157,Zambia,Africa,9169000,145
158,Senegal,Africa,9481000,146
159,Tunisia,Africa,9586000,147
160,Portugal,Europe,9997600,148
161,Hungary,Europe,10043200,149
162,Somalia,Africa,10097000,150
163,Belarus,Europe,10236000,151
164,Belgium,Europe,10239000,152
165,Czech Republic,Europe,10278100,153
166,Greece,Europe,10545700,154
167,Yugoslavia,Europe,10640000,155
168,Niger,Africa,10730000,156
169,Malawi,Africa,10925000,157
170,Cambodia,Asia,11168000,158
171,Cuba,North America,11201000,159
172,Mali,Africa,11234000,160
173,Guatemala,North America,11385000,161
174,Zimbabwe,Africa,11669000,162
175,Burkina Faso,Africa,11937000,163
176,Ecuador,South America,12646000,164
177,Angola,Africa,12878000,165
178,CÃ´te dÂ’Ivoire,Africa,14786000,166
179,Cameroon,Africa,15085000,167
180,Chile,South America,15211000,168
181,Netherlands,Europe,15864000,169
182,Madagascar,Africa,15942000,170
183,Syria,Asia,16125000,171
184,Kazakstan,Asia,16223000,172
185,Yemen,Asia,18112000,173
186,Sri Lanka,Asia,18827000,174
187,Australia,Oceania,18886000,175
188,Mozambique,Africa,19680000,176
189,Ghana,Africa,20212000,177
190,Saudi Arabia,Asia,21607000,178
191,Uganda,Africa,21778000,179
192,Malaysia,Asia,22244000,180
193,Taiwan,Asia,22256000,181
194,Romania,Europe,22455500,182
195,Afghanistan,Asia,22720000,183
196,Iraq,Asia,23115000,184
197,Nepal,Asia,23930000,185
198,North Korea,Asia,24039000,186
199,Venezuela,South America,24170000,187
200,Uzbekistan,Asia,24318000,188
201,Peru,South America,25662000,189
202,Morocco,Africa,28351000,190
203,Sudan,Africa,29490000,191
204,Kenya,Africa,30080000,192
205,Canada,North America,31147000,193
206,Algeria,Africa,31471000,194
207,Tanzania,Africa,33517000,195
208,Argentina,South America,37032000,196
209,Poland,Europe,38653600,197
210,Spain,Europe,39441700,198
211,South Africa,Africa,40377000,199
212,Colombia,South America,42321000,200
213,Myanmar,Asia,45611000,201
214,South Korea,Asia,46844000,202
215,Ukraine,Europe,50456000,203
216,"Congo, The Democratic Republic of the",Africa,51654000,204
217,Italy,Europe,57680000,205
218,France,Europe,59225700,206
219,United Kingdom,Europe,59623400,207
220,Thailand,Asia,61399000,208
221,Ethiopia,Africa,62565000,209
222,Turkey,Asia,66591000,210
223,Iran,Asia,67702000,211
224,Egypt,Africa,68470000,212
225,Philippines,Asia,75967000,213
226,Vietnam,Asia,79832000,214
227,Germany,Europe,82164700,215
228,Mexico,North America,98881000,216
229,Nigeria,Africa,111506000,217
230,Japan,Asia,126714000,218
231,Bangladesh,Asia,129155000,219
232,Russian Federation,Europe,146934000,220
233,Pakistan,Asia,156483000,221
234,Brazil,South America,170115000,222
235,Indonesia,Asia,212107000,223
236,United States,North America,278357000,224
237,India,Asia,1013662000,225
238,China,Asia,1277558000,226

In [47]:
# rank dengan partition by

sql('''
select name, continent, population,
RANK() OVER(PARTITION by continent ORDER BY POPULATION)
from country;
''')

,name,continent,population,RANK() OVER(PARTITION by continent ORDER BY POPULATION)
0,Maldives,Asia,286000,1
1,Brunei,Asia,328000,2
2,Macao,Asia,473000,3
3,Qatar,Asia,599000,4
4,Bahrain,Asia,617000,5
5,Cyprus,Asia,754700,6
6,East Timor,Asia,885000,7
7,Kuwait,Asia,1972000,8
8,Bhutan,Asia,2124000,9
9,United Arab Emirates,Asia,2441000,10
10,Oman,Asia,2542000,11
11,Mongolia,Asia,2662000,12
12,Palestine,Asia,3101000,13
13,Lebanon,Asia,3282000,14
14,Armenia,Asia,3520000,15
15,Singapore,Asia,3567000,16
16,Turkmenistan,Asia,4459000,17
17,Kyrgyzstan,Asia,4699000,18
18,Georgia,Asia,4968000,19
19,Jordan,Asia,5083000,20
20,Laos,Asia,5433000,21
21,Tajikistan,Asia,6188000,22
22,Israel,Asia,6217000,23
23,Hong Kong,Asia,6782000,24
24,Azerbaijan,Asia,7734000,25
25,Cambodia,Asia,11168000,26
26,Syria,Asia,16125000,27
27,Kazakstan,Asia,16223000,28
28,Yemen,Asia,18112000,29
29,Sri Lanka,Asia,18827000,30
30,Saudi Arabia,Asia,21607000,31
31,Malaysia,Asia,22244000,32
32,Taiwan,Asia,22256000,33
33,Afghanistan,Asia,22720000,34
34,Iraq,Asia,23115000,35
35,Nepal,Asia,23930000,36
36,North Korea,Asia,24039000,37
37,Uzbekistan,Asia,24318000,38
38,Myanmar,Asia,45611000,39
39,South Korea,Asia,46844000,40
40,Thailand,Asia,61399000,41
41,Turkey,Asia,66591000,42
42,Iran,Asia,67702000,43
43,Philippines,Asia,75967000,44
44,Vietnam,Asia,79832000,45
45,Japan,Asia,126714000,46
46,Bangladesh,Asia,129155000,47
47,Pakistan,Asia,156483000,48
48,Indonesia,Asia,212107000,49
49,India,Asia,1013662000,50
50,China,Asia,1277558000,51
51,Holy See (Vatican City State),Europe,1000,1
52,Svalbard and Jan Mayen,Europe,3200,2
53,Gibraltar,Europe,25000,3
54,San Marino,Europe,27000,4
55,Liechtenstein,Europe,32300,5
56,Monaco,Europe,34000,6
57,Faroe Islands,Europe,43000,7
58,Andorra,Europe,78000,8
59,Iceland,Europe,279000,9
60,Malta,Europe,380200,10
61,Luxembourg,Europe,435700,11
62,Estonia,Europe,1439200,12
63,Slovenia,Europe,1987800,13
64,Macedonia,Europe,2024000,14
65,Latvia,Europe,2424200,15
66,Albania,Europe,3401200,16
67,Lithuania,Europe,3698500,17
68,Ireland,Europe,3775100,18
69,Bosnia and Herzegovina,Europe,3972000,19
70,Moldova,Europe,4380000,20
71,Croatia,Europe,4473000,21
72,Norway,Europe,4478500,22
73,Finland,Europe,5171300,23
74,Denmark,Europe,5330000,24
75,Slovakia,Europe,5398700,25
76,Switzerland,Europe,7160400,26
77,Austria,Europe,8091800,27
78,Bulgaria,Europe,8190900,28
79,Sweden,Europe,8861400,29
80,Portugal,Europe,9997600,30
81,Hungary,Europe,10043200,31
82,Belarus,Europe,10236000,32
83,Belgium,Europe,10239000,33
84,Czech Republic,Europe,10278100,34
85,Greece,Europe,10545700,35
86,Yugoslavia,Europe,10640000,36
87,Netherlands,Europe,15864000,37
88,Romania,Europe,22455500,38
89,Poland,Europe,38653600,39
90,Spain,Europe,39441700,40
91,Ukraine,Europe,50456000,41
92,Italy,Europe,57680000,42
93,France,Europe,59225700,43
94,United Kingdom,Europe,59623400,44
95,Germany,Europe,82164700,45
96,Russian Federation,Europe,146934000,46
97,Saint Pierre and Miquelon,North America,7000,1
98,Anguilla,North America,8000,2
99,Montserrat,North America,11000,3
100,Turks and Caicos Islands,North America,17000,4
101,"Virgin Islands, British",North America,21000,5
102,Cayman Islands,North America,38000,6
103,Saint Kitts and Nevis,North America,38000,6
104,Greenland,North America,56000,8
105,Bermuda,North America,65000,9
106,Antigua and Barbuda,North America,68000,10
107,Dominica,North America,71000,11
108,"Virgin Islands, U.S.",North America,93000,12
109,Grenada,North America,94000,13
110,Aruba,North America,103000,14
111,Saint Vincent and the Grenadines,North America,114000,15
112,Saint Lucia,North America,154000,16
113,Netherlands Antilles,North America,217000,17
114,Belize,North America,241000,18
115,Barbados,North America,270000,19
116,Bahamas,North America,307000,20
117,Martinique,North America,395000,21
118,Guadeloupe,North America,456000,22
119,Trinidad and Tobago,North America,1295000,23
120,Jamaica,North America,2583000,24
121,Panama,North America,2856000,25
122,Puerto Rico,North America,3869000,26
123,Costa Rica,North America,4023000,27
124,Nicaragua,North America,5074000,28
125,El Salvador,North America,6276000,29
126,Honduras,North America,6485000,30
127,Haiti,North America,8222000,31
128,Dominican Republic,North America,8495000,32
129,Cuba,North America,11201000,33
130,Guatemala,North America,11385000,34
131,Canada,North America,31147000,35
132,Mexico,North America,98881000,36
133,United States,North America,278357000,37
134,British Indian Ocean Territory,Africa,0,1
135,Saint Helena,Africa,6000,2
136,Seychelles,Africa,77000,3
137,Sao Tome and Principe,Africa,147000,4
138,Mayotte,Africa,149000,5
139,Western Sahara,Africa,293000,6
140,Cape Verde,Africa,428000,7
141,Equatorial Guinea,Africa,453000,8
142,Comoros,Africa,578000,9
143,Djibouti,Africa,638000,10
144,RÃ©union,Africa,699000,11
145,Swaziland,Africa,1008000,12
146,Mauritius,Africa,1158000,13
147,Guinea-Bissau,Africa,1213000,14
148,Gabon,Africa,1226000,15
149,Gambia,Africa,1305000,16
150,Botswana,Africa,1622000,17
151,Namibia,Africa,1726000,18
152,Lesotho,Africa,2153000,19
153,Mauritania,Africa,2670000,20
154,Congo,Africa,2943000,21
155,Liberia,Africa,3154000,22
156,Central African Republic,Africa,3615000,23
157,Eritrea,Africa,3850000,24
158,Togo,Africa,4629000,25
159,Sierra Leone,Africa,4854000,26
160,Libyan Arab Jamahiriya,Africa,5605000,27
161,Benin,Africa,6097000,28
162,Burundi,Africa,6695000,29
163,Guinea,Africa,7430000,30
164,Chad,Africa,7651000,31
165,Rwanda,Africa,7733000,32
166,Zambia,Africa,9169000,33
167,Senegal,Africa,9481000,34
168,Tunisia,Africa,9586000,35
169,Somalia,Africa,10097000,36
170,Niger,Africa,10730000,37
171,Malawi,Africa,10925000,38
172,Mali,Africa,11234000,39
173,Zimbabwe,Africa,11669000,40
174,Burkina Faso,Africa,11937000,41
175,Angola,Africa,12878000,42
176,CÃ´te dÂ’Ivoire,Africa,14786000,43
177,Cameroon,Africa,15085000,44
178,Madagascar,Africa,15942000,45
179,Mozambique,Africa,19680000,46
180,Ghana,Africa,20212000,47
181,Uganda,Africa,21778000,48
182,Morocco,Africa,28351000,49
183,Sudan,Africa,29490000,50
184,Kenya,Africa,30080000,51
185,Algeria,Africa,31471000,52
186,Tanzania,Africa,33517000,53
187,South Africa,Africa,40377000,54
188,"Congo, The Democratic Republic of the",Africa,51654000,55
189,Ethiopia,Africa,62565000,56
190,Egypt,Africa,68470000,57
191,Nigeria,Africa,111506000,58
192,United States Minor Outlying Islands,Oceania,0,1
193,Pitcairn,Oceania,50,2
194,Cocos (Keeling) Islands,Oceania,600,3
195,Norfolk Island,Oceania,2000,4
196,Niue,Oceania,2000,4
197,Tokelau,Oceania,2000,4
198,Christmas Island,Oceania,2500,7
199,Nauru,Oceania,12000,8
200,Tuvalu,Oceania,12000,8
201,Wallis and Futuna,Oceania,15000,10
202,Palau,Oceania,19000,11
203,Cook Islands,Oceania,20000,12
204,Marshall Islands,Oceania,64000,13
205,American Samoa,Oceania,68000,14
206,Northern Mariana Islands,Oceania,78000,15
207,Kiribati,Oceania,83000,16
208,Tonga,Oceania,99000,17
209,"Micronesia, Federated States of",Oceania,119000,18
210,Guam,Oceania,168000,19
211,Samoa,Oceania,180000,20
212,Vanuatu,Oceania,190000,21
213,New Caledonia,Oceania,214000,22
214,French Polynesia,Oceania,235000,23
215,Solomon Islands,Oceania,444000,24
216,Fiji Islands,Oceania,817000,25
217,New Zealand,Oceania,3862000,26
218,Papua New Guinea,Oceania,4807000,27
219,Australia,Oceania,18886000,28
220,Antarctica,Antarctica,0,1
221,French Southern territories,Antarctica,0,1
222,Bouvet Island,Antarctica,0,1
223,Heard Island and McDonald Islands,Antarctica,0,1
224,South Georgia and the South Sandwich Islands,Antarctica,0,1
225,Falkland Islands,South America,2000,1
226,French Guiana,South America,181000,2
227,Suriname,South America,417000,3
228,Guyana,South America,861000,4
229,Uruguay,South America,3337000,5
230,Paraguay,South America,5496000,6
231,Bolivia,South America,8329000,7
232,Ecuador,South America,12646000,8
233,Chile,South America,15211000,9
234,Venezuela,South America,24170000,10
235,Peru,South America,25662000,11
236,Argentina,South America,37032000,12
237,Colombia,South America,42321000,13
238,Brazil,South America,170115000,14

In [49]:
sql('''
select continent, count(*) as jumlah_negara, avg(population) as rata_pop,
rank() over(order by avg(population) desc) as rank_pop,
rank() over(order by count(*) desc) as rank_total
from country
group by continent
order by rank_pop;
''')

# rank dengan group by

       continent  jumlah_negara       rata_pop  rank_pop  rank_total
0           Asia             51  72647562.7451         1           2
1  South America             14  24698571.4286         2           6
2         Europe             46  15871186.9565         3           3
3         Africa             58  13525431.0345         4           1
4  North America             37  13053864.8649         5           4
5        Oceania             28   1085755.3571         6           5
6     Antarctica              5         0.0000         7           7

## NTILE 
Membuat kolom baru berisikan nomor sesuai yang kita tentukan. Pembagian nomor didasarkan pada urutan nilai data.  
Misalkan ada 20 data, kita buat 4 ntile, maka 5 data dengan nilai terkecil (default kecil-besar) akan diberi angka 1, 5 data berikutnya, diberi angka 2, dan 5 data dengan nilai terbesar diberi angka 4.

In [51]:
sql('''
with quantile as(
select name, population, 
ntile(4) over(order by population desc) as quantile_pop
from country
)
select * from quantile where quantile_pop=1;
''')

# 25% negara dengan jumlah populasi terbesar

                                     name  population  quantile_pop
0                                   China  1277558000             1
1                                   India  1013662000             1
2                           United States   278357000             1
3                               Indonesia   212107000             1
4                                  Brazil   170115000             1
5                                Pakistan   156483000             1
6                      Russian Federation   146934000             1
7                              Bangladesh   129155000             1
8                                   Japan   126714000             1
9                                 Nigeria   111506000             1
10                                 Mexico    98881000             1
11                                Germany    82164700             1
12                                Vietnam    79832000             1
13                            Philippines    75967000             1
14                                  Egypt    68470000             1
15                                   Iran    67702000             1
16                                 Turkey    66591000             1
17                               Ethiopia    62565000             1
18                               Thailand    61399000             1
19                         United Kingdom    59623400             1
20                                 France    59225700             1
21                                  Italy    57680000             1
22  Congo, The Democratic Republic of the    51654000             1
23                                Ukraine    50456000             1
24                            South Korea    46844000             1
25                                Myanmar    45611000             1
26                               Colombia    42321000             1
27                           South Africa    40377000             1
28                                  Spain    39441700             1
29                                 Poland    38653600             1
30                              Argentina    37032000             1
31                               Tanzania    33517000             1
32                                Algeria    31471000             1
33                                 Canada    31147000             1
34                                  Kenya    30080000             1
35                                  Sudan    29490000             1
36                                Morocco    28351000             1
37                                   Peru    25662000             1
38                             Uzbekistan    24318000             1
39                              Venezuela    24170000             1
40                            North Korea    24039000             1
41                                  Nepal    23930000             1
42                                   Iraq    23115000             1
43                            Afghanistan    22720000             1
44                                Romania    22455500             1
45                                 Taiwan    22256000             1
46                               Malaysia    22244000             1
47                                 Uganda    21778000             1
48                           Saudi Arabia    21607000             1
49                                  Ghana    20212000             1
50                             Mozambique    19680000             1
51                              Australia    18886000             1
52                              Sri Lanka    18827000             1
53                                  Yemen    18112000             1
54                              Kazakstan    16223000             1
55                                  Syria    16125000             1
56                             Madagascar    15942000             1
57                            Netherlands    15864000             1
58                                  Chile    15211000             1
59                               Cameroon    15085000             1

## SLIDING WINDOWS
untuk mencari nilai aggregate dari beberapa data berurutan, biasanya dipakai untuk mencari moving average atau cumulative sum

In [52]:
sql('''
with total_negara as(
    select continent, count(*) as total_negara from country
    group by 1
)
select continent, total_negara, 
SUM(total_negara) OVER (ORDER BY total_negara DESC
ROWS BETWEEN UNBOUNDED PRECEDING and CURRENT ROW) as total_cumulatif
from total_negara;

''')

# UNBOUNDED PRECEDING --> baris pertama
# CURRENT ROW --> baris aktif

       continent  total_negara total_cumulatif
0         Africa            58              58
1           Asia            51             109
2         Europe            46             155
3  North America            37             192
4        Oceania            28             220
5  South America            14             234
6     Antarctica             5             239

In [58]:
sql('''
with total_negara_benua as(
    select continent, count(*) as total_negara
    from country
    group by 1
)
select continent, total_negara,
sum(total_negara) over (order by total_negara desc
ROWS BETWEEN CURRENT ROW and 1 FOLLOWING) as moving_cumulatif
from total_negara_benua;

''')

# penggunaan preceding dan following, perlu dicantumkan berapa baris setelah/sebelum
# di contoh ini kita menjumlahkan total negara tiap baris dengan baris berikutnya

       continent  total_negara moving_cumulatif
0         Africa            58              109
1           Asia            51               97
2         Europe            46               83
3  North America            37               65
4        Oceania            28               42
5  South America            14               19
6     Antarctica             5                5